html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

/* ALIGNED FIELDSETS */

.aligned label {
  display: block;
  padding: 4px 10px 0 0;
  float: left;
  width: 160px;
  word-wrap: break-word;
  line-height: 1;
}

.aligned label:not(.vCheckboxLabel):after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 26px;
}

.aligned label+p,
.aligned label+div.help,
.aligned label+div.readonly {
  padding: 6px 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 170px;
  overflow-wrap: break-word;
}

.aligned ul label {
  display: inline;
  float: none;
  width: auto;
}

.aligned .form-row input {
  margin-bottom: 0;
}

.colMS .aligned .vLargeTextField,
.colMS .aligned .vXMLLargeTextField {
  width: 350px;
}

form .aligned ul {
  margin-left: 160px;
  padding-left: 10px;
}

form .aligned div.radiolist {
  display: inline-block;
  margin: 0;
  padding: 0;
}

form .aligned p.help,
form .aligned div.help {
  clear: left;
  margin-top: 0;
  margin-left: 160px;
  padding-left: 10px;
}

form .aligned label+p.help,
form .aligned label+div.help {
  margin-left: 0;
  padding-left: 0;
}

form .aligned p.help:last-child,
form .aligned div.help:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

form .aligned input+p.help,
form .aligned textarea+p.help,
form .aligned select+p.help,
form .aligned input+div.help,
form .aligned textarea+div.help,
form .aligned select+div.help {
  margin-left: 160px;
  padding-left: 10px;
}

form .aligned ul li {
  list-style: none;
}

form .aligned table p {
  margin-left: 0;
  padding-left: 0;
}

.aligned .vCheckboxLabel {
  float: none;
  width: auto;
  display: inline-block;
  vertical-align: -3px;
  padding: 0 0 5px 5px;
}

.aligned .vCheckboxLabel+p.help,
.aligned .vCheckboxLabel+div.help {
  margin-top: -4px;
}

.colM .aligned .vLargeTextField,
.colM .aligned .vXMLLargeTextField {
  width: 610px;
}

