{% extends "CTFLog/sidebar.html" %}

{% block title%}
CTFLog - {{ ctf_campaign.name }}
{% endblock %}

{% block body %}
<div class="container text-center">
  <h1 class="text-center">{{ ctf_campaign.site.name }}</h2>
  <h2 class="text-center">{{ ctf_campaign.name }}</h2>
  {% if ctfs %}
  <ul>
    {% for ctf in ctfs %}
    <li><a href="{{ ctf.get_absolute_url }}">{{ ctf.name }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>You have not created any CTF's in this campaign yet</p>
  {% endif %}
  <a href="/create-ctf/{{ ctf_campaign.slug }}/" class="btn btn-primary">
    <i class="bi bi-plus"></i>
    Create a new ctf
  </a>
</div>
{% endblock %}