{% extends "CTFLog/sidebar.html" %}

{% block title%}
CTFLog
{% endblock %}

{% block body %}
<div class="container text-center">
  <h1 class="text-center">Welcome to CTFLog</h1>
  <p>Choose from the sites already created by the community or add a new page</p>
  <a href="create-site">
    <button type="button" class="btn btn-primary"><i class="fs-4 bi-plus"></i></button>Create a new page
  </a>
  <p>Sites</p>
  <ul>
    {% for site in sites %}
    <li><a href="{{ site.url }}">{{ site.name }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}