{% extends "CTFLog/sidebar.html" %}

{% block title%}
CTFLog
{% endblock %}

{% block body %}
<div class="container text-center">
  <h1 class="text-center">Welcome to CTFLog</h1>
  <h2>Choose from the sites already created by the community or add a new page</h2>
  <div class="list-group">
    {% for site in sites %}
    <div class="list-group-item list-group-item-action"><a href="{{ site.get_absolute_url }}">{{ site.name }}</a><a href="{{ site.url }}"><i class="bi bi-link-45deg"></i></a></div>
    {% endfor %}

  </div>
  <br>
  <a href="create-site" class="btn btn-primary">
    <i class="bi bi-plus"></i>
    Create a new page
  </a>
</div>
{% endblock %}