{% extends "CTFLog/layout.html" %}

{% block title%}
CTFLog - Login
{% endblock %}

{% block body %}
{% load crispy_forms_tags %}

<body class="text-center" cz-shortcut-listen="true">

<!--Login--> 
<div class="container mx-auto my-auto w-25">
  <h1>CTFLog</h1>
  <h2>Login</h2>
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>
</body>
{% endblock %}