{% extends "CTFLog/layout.html" %}
{% load crispy_forms_tags %}

{% block title%}
CTFLog - Register
{% endblock %}

{% block body %}

<body class="text-center" cz-shortcut-listen="true">
    <!--Register-->
    <div class="container mx-auto my-auto w-25">
        <h1>CTFLog</h1>
        <h2>Register</h2>
        <form method="POST">
            {% csrf_token %}
            {{ register_form|crispy }}
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
        <p class="text-center">If you already have an account, <a href="{% url 'login' %}">login</a> instead.</p>
    </div>
</body>
{% endblock %}