
    
    
        
      </section>
  
      
      
      
      <div class="p-4 text-center border-top mobile-hidden">
        <a class="btn btn-link px-3" data-mdb-toggle="collapse" href="#login-register-example" role="button" aria-expanded="true" aria-controls="login-register-example" data-ripple-color="hsl(0, 0%, 67%)" style="">
          <i class="fas fa-code me-md-2"></i>
          <span class="d-none d-md-inline-block">
            Show code
          </span>
        </a>
        
        
          <a class="btn btn-link px-3" data-ripple-color="hsl(0, 0%, 67%)" style="">
            <i class="fas fa-file-code me-md-2 pe-none"></i>
            <span class="d-none d-md-inline-block export-to-snippet pe-none">
              Edit in sandbox
            </span>
          </a>
        
      </div>
      
      
    